{% extends 'baseV1.html.twig' %}

{% block title %}New Family{% endblock %}

{% block body %}
<div style="margin-left: 450px;">
    <div> 
        <h1> Insert new Family </h1>

        <div>
            {{ include('family/_form.html.twig', {'button_label': 'Save'}) }} <br>
            <a href="{{ path('app_family_index') }}" type="button" class="btn btn-primary">back to list</a>
        </div>
            
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    function initMap() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEYlibraries=placescallback=initMap"></script>
{% endblock %}