{% extends 'baseV1.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div>
    {{ include('user/_form.html.twig') }}
    <a class="text-blue-500" href="{{ path('app_user_index') }}">back to list</a>
</div>
{% endblock %}

